
body {margin: 0;} 


site-banner{background: black;
text-align: center;
padding-top: 10px;
padding-bottom: 8px;
padding-left: 0;
padding-right: 0} 


img "wp-logo.png" {width: 188px;
} 

.article {
    max-width: 1200px;
    margin: 0 auto; /
   padding-top: 0; /
   padding-bottom: 0; / 
   padding-left: 10px; /
   padding-right: 10px; /
} 


.story-header {
    font-family: "Franklin Light", sans-serif; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Franklin Bold", sans-serif;
    font-size: 14px;
    margin-top: 32px;
}


h1 {
	font-family: "Postoni", sans-serif;
	font-size: 46px;
	margin-bottom: 0;
	font-weight: normal;
}

.story-deck {height: 20px}

 .story-byline {
    font-size: 16px;
    margin-bottom: 2px;
}

.timestamp {
    font-size: 14px;
    margin-top: 0; /
    color: #666666; /
}

.story-body {
    font-family: "Georgia", serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 700px;
}

img {
  width: 100%;
  max-width: 100%;
}

figcaption {
  color: #666666;
  font-size: 14px;
  margin-top: 0;
  line-height: 18px;
  font-family: "Franklin Light", sans-serif; 
}


.story-footer {
  max-width: 700px;
  border-top: 1px solid black;
}

.story-footer {
  max-width: 700px;
  border-top: 1px solid black;
}

.story-footer p {
  font-family: "Franklin Light", sans-serif
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.story-footer .more-for-you {
  font-family: "Franklin Bold", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.story-footer h2 {
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
}

.story-footer time {
  font-family: "Franklin Light", sans-serif;
  font-size: 14px;
  color: #666666;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  display: block;
